In [1]:
print("hello world")

hello world

In [8]:
a = 2
b = 8
print(a + b)

10

# Cours d'intro Python

## Sous titre

* item 1
* item 2

paragraphe

In [4]:
print("bonjour")

bonjour

In [6]:
print(a)

2

In [7]:
print("bonjour")

bonjour

In [9]:
a = 10

In [10]:
print(a)

10

In [11]:
ma_variable = 12

In [15]:
ma_variable = 12
print(ma_variable)
print(type(ma_variable))

12
<class 'int'>

In [23]:
ma_variable = "Bonjour"
Ma_variable = 10
print(ma_variable)
print(Ma_variable)
print(type(ma_variable))

Bonjour
10
<class 'str'>

In [19]:
a = 10 # int
b = 1.2 # float
c = False or True # bool
d = False and True # bool
e = 2j ** 2 # complex
f = None # None

In [20]:
a + b

11.2

In [21]:
3 / 2

1.5

In [22]:
3 // 2

1

## Les séquences

In [61]:
ma_liste = [0, 4, 6, 4]
mon_set = {4, 5, 4}
ma_chaine = "Bonjour"
mon_tuple = (1, 4, 8)
mon_dico = {"prenom": "Agathe", "nom": "Bernier"}

In [34]:
print(ma_liste[0])
print(ma_liste[1])
print(ma_liste[2])
print(ma_liste[3])
print(sum(ma_liste))
print(ma_liste[4]) # erreur : on va jusqu'à la taille - 1

0
4
6
4
14

IndexError: list index out of range

In [35]:
print(mon_set)
print(0 in mon_set)
print(sum(mon_set))
print(mon_set[0]) # erreur pas d'index dans un set

{4, 5}
False
9

TypeError: 'set' object is not subscriptable

In [45]:
ma_liste

[0, 4, 6, 4]

In [46]:
ma_liste[0] = 5

In [49]:
ma_liste[-1] = [False, "Bonjour"]

In [50]:
ma_liste

[5, 4, 6, [False, 'Bonjour']]

In [51]:
ma_liste[-1]

[False, 'Bonjour']

In [52]:
len(ma_liste)

4

In [95]:
ma_liste = [1, 2, 4, 5, 7, 44]
print(ma_liste)
ma_liste.append(8)
print(ma_liste)
ma_liste.append([4, 2])
print(ma_liste)
ma_liste.extend([4, 2])
print(ma_liste)

[1, 2, 4, 5, 7, 44]
[1, 2, 4, 5, 7, 44, 8]
[1, 2, 4, 5, 7, 44, 8, [4, 2]]
[1, 2, 4, 5, 7, 44, 8, [4, 2], 4, 2]

### Apparte sur les opérations

In [37]:
ma_liste + 2

TypeError: can only concatenate list (not "int") to list

In [38]:
ma_liste + [0]

[0, 4, 6, 4, 0]

In [39]:
ma_liste * 2

[0, 4, 6, 4, 0, 4, 6, 4]

In [42]:
[0] * 10 + [1] * 10

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]

In [43]:
res = [i * 2 for i in ma_liste] # comprehensive list
res

[0, 8, 12, 8]

In [44]:
import numpy as np

vec = np.array([1,0,4,3])
vec * 2

array([2, 0, 8, 6])

### Reprise sur les chaines de caractères

In [53]:
ma_chaine

'Bonjour'

In [54]:
ma_chaine[0]

'B'

In [55]:
ma_chaine[-1]

'r'

In [56]:
ma_chaine[0] = "C"

TypeError: 'str' object does not support item assignment

In [62]:
mon_tuple[0]

1

In [63]:
mon_tuple[0] = 5

TypeError: 'tuple' object does not support item assignment

In [64]:
ma_liste= [1,1,1,1,2,2,4,44,4,4,5,5,5,7,7,7]
ma_liste = list(set(ma_liste))
ma_liste

[1, 2, 4, 5, 7, 44]

## Parenthèse sur les cast

In [65]:
int(6.4)

6

In [66]:
str(6.4)

'6.4'

### Retour sur les dicos

In [87]:
mon_dico = {"prenom": "Agathe", "nom": "Bernier", "a_mange": False}

In [88]:
mon_dico["prenom"] = "Agathe"

In [89]:
mon_dico["is_underage"] = False

In [90]:
mon_dico["notes"] = [12,18,20,16]

In [91]:
mon_dico

{'prenom': 'Agathe',
 'nom': 'Bernier',
 'a_mange': False,
 'is_underage': False,
 'notes': [12, 18, 20, 16]}

## Les boucles

In [97]:
i = 0
while i < 10:
    print(i)
    i += 1
    print("boucle")
print("fin")

0
boucle
1
boucle
2
boucle
3
boucle
4
boucle
5
boucle
6
boucle
7
boucle
8
boucle
9
boucle
fin

In [99]:
ma_liste = [1, 2, 4, 5, 7, 44, 8]

for i in ma_liste:
    print(i)
    print("boucle")
print("fin")

1
boucle
2
boucle
4
boucle
5
boucle
7
boucle
44
boucle
8
boucle
fin

In [100]:
for i in range(10):
    print(i)
    print("boucle")
print("fin")

0
boucle
1
boucle
2
boucle
3
boucle
4
boucle
5
boucle
6
boucle
7
boucle
8
boucle
9
boucle
fin

In [107]:
ma_liste = [1, 2, 4, 5, 7, 44, 8]
ma_liste2 = ma_liste[::-1]

for i in range(len(ma_liste)):
    print(ma_liste[i])
    print(ma_liste2[i])
    print("boucle")
print("fin")

1
8
boucle
2
44
boucle
4
7
boucle
5
5
boucle
7
4
boucle
44
2
boucle
8
1
boucle
fin

## Structure conditionnelle

In [109]:
age = 12

if age > 18:
    print("majeur")
elif age == 18:
    print("passe ton permis")
else:
    print("mineur")

mineur

## Fizz buzz

Pour tous les entiers de 0 à 100, on affiche :
* "fizz" si l'entier est divisible par 3
* "buzz" si l'entier est divisible par 5
* "bazz" si l'entier est divisible par 3 et 5
* sinon on affiche l'entier

#### Résultat:

* bazz
* 1
* 2
* fizz
* 4
* buzz
...

In [112]:
i = 15

i % 3 == 0

True

In [113]:
for i in range(101):
    if i % 15 == 0:
        print("bazz")
    elif i % 3 == 0:
        print("fizz")
    elif i % 5 == 0:
        print("buzz")
    else:
        print(i)

bazz
1
2
fizz
4
buzz
fizz
7
8
fizz
buzz
11
fizz
13
14
bazz
16
17
fizz
19
buzz
fizz
22
23
fizz
buzz
26
fizz
28
29
bazz
31
32
fizz
34
buzz
fizz
37
38
fizz
buzz
41
fizz
43
44
bazz
46
47
fizz
49
buzz
fizz
52
53
fizz
buzz
56
fizz
58
59
bazz
61
62
fizz
64
buzz
fizz
67
68
fizz
buzz
71
fizz
73
74
bazz
76
77
fizz
79
buzz
fizz
82
83
fizz
buzz
86
fizz
88
89
bazz
91
92
fizz
94
buzz
fizz
97
98
fizz
buzz

### Slicing

### Ternaire

### Comprehensive list

### F string et input

In [114]:
ma_liste

[1, 2, 4, 5, 7, 44, 8]

In [117]:
ma_liste[0:3] # debut : fin (exclus)

[1, 2, 4]

In [118]:
ma_liste[1:4]

[2, 4, 5]

In [119]:
ma_liste[:4] # premier element par defaut

[1, 2, 4, 5]

In [120]:
ma_liste[2:] # dernier element par defaut

[4, 5, 7, 44, 8]

In [121]:
ma_liste[:]

[1, 2, 4, 5, 7, 44, 8]

In [122]:
ma_liste[0:5:2] # pas de 2

[1, 4, 7]

In [123]:
ma_liste[:-1]

[1, 2, 4, 5, 7, 44]

In [124]:
ma_liste[::-1]

[8, 44, 7, 5, 4, 2, 1]

In [125]:
# deuxième en partant de la fin au deuxième deux par deux
# 44, 5, 2

In [126]:
ma_liste[-2:0:-2]

[44, 5, 2]

In [127]:
age = 36

# Avec un if
if age < 18:
    is_underage = True
else:
    is_underage = False
    
# Avec une ternaire
is_underage = True if age < 18 and age > 46 else False
print("mineur" if age < 18 else "majeur")

# Juste la condition
is_underage = age < 18

majeur

In [128]:
ma_liste

[1, 2, 4, 5, 7, 44, 8]

In [131]:
autre_liste = [(i > 4) for i in ma_liste]
autre_liste

[False, False, False, True, True, True, True]

In [132]:
a= 12
a < 18

True

In [135]:
import os

liste_fichiers = os.listdir('../')

In [139]:
# récupérer les 5 premières lettres de chaque fichier
[file_name[:5] for file_name in liste_fichiers]

['.ipyn',
 'Bank ',
 'base.',
 'basep',
 'Bokeh',
 'bokeh',
 'brain',
 'CHART',
 'compl',
 'Cours',
 'cours',
 'cours',
 'cours',
 'cours',
 'cours',
 'cours',
 'cours',
 'Cours',
 'cours',
 'cours',
 'Cpyth',
 'Cpyth',
 'Deep ',
 'dicho',
 'egili',
 'egili',
 'Exerc',
 'Forma',
 'Gener',
 'gradi',
 'image',
 'Intro',
 'Intro',
 'Intro',
 'Intro',
 'Intro',
 'Intro',
 'Intro',
 'Intro',
 'Intro',
 'Intro',
 'Intro',
 'Jour2',
 'lena.',
 'main.',
 'main.',
 'malib',
 'monmo',
 'MonPa',
 'neura',
 'numRa',
 'orsys',
 'overf',
 'packi',
 'Palin',
 'Panda',
 'panda',
 'plan.',
 'postg',
 'pyqt5',
 'pyqt5',
 'pyqt5',
 'pyqt5',
 'pyqtF',
 'Pytho',
 'Pytho',
 'Pytho',
 'pytho',
 'qtTes',
 'Sciki',
 'serve',
 'serve',
 'sound',
 'stati',
 'techn',
 'templ',
 'test.',
 'testC',
 'texte',
 'titan',
 'train',
 'unpac',
 'Untit',
 'Untit',
 'Untit',
 'Untit',
 'Untit',
 'Untit',
 '~$For',
 '~$Pyt',
 '~$Pyt']

In [141]:
[file_name for file_name in liste_fichiers if file_name[-3:] == "ynb"]

['Bank Example.ipynb',
 'basepoo.ipynb',
 'Bokeh initiation.ipynb',
 'Cours1-egilia.ipynb',
 'egilia-class.ipynb',
 'ExerciceVoiture.ipynb',
 'GenerateData.ipynb',
 'IntroAriane.ipynb',
 'Jour2-egilia.ipynb',
 'Palindrome.ipynb',
 'PandasExos.ipynb',
 'postgreIntroduction.ipynb',
 'pyqt5.ipynb',
 'ScikitLearn.ipynb',
 'Untitled.ipynb',
 'Untitled1.ipynb',
 'Untitled2.ipynb']

In [143]:
(i * 2 for i in ma_liste)

In [147]:
# Python 2
range(10) # Liste d'éléments

#Python 3
range(10) # génératrice

range(0, 10)

In [159]:
# comprehensive list , generatrice / range ?
# Fstring input

nom = input("Quel est votre nom ?")
age = int(input("Quel est votre age ?")) # Caster l'input pour avoir un entier
print(nom)
age

Quel est votre nom ?Mickael
Quel est votre age ?42
Mickael

42

In [157]:
# age = 36
print("Bonjour " + nom + ". Je m'appelle Marie. J'ai " + str(age) + " ans")

print(f"Bonjour {nom}. Je m'appelle Marie. J'ai {age} ans") # f avant les guillemets et accolades

Bonjour Mickael. Je m'appelle Marie. J'ai 36 ans
Bonjour Mickael. Je m'appelle Marie. J'ai 36 ans

### Exercice 

Demander Le nom et le prénom de 2 personnes

Afficher une conversation :

"Bonjour, je m'appelle {nom1}. J'ai {age1} ans. Et je suis mineur/majeur"

"Bonjour {nom1}, je m'appelle {nom2}. J'ai {age2} ans. Et je suis mineur/majeur"


### Bonus 

Avec une boucle "while" et une question "ajouter une personne ? Y/N".

"Bonjour, je m'appelle {nom1}. J'ai {age1} ans. Et je suis mineur/majeur"

"Bonjour {nom i-1}, je m'appelle {nom i}. J'ai {age i} ans. Et je suis mineur/majeur"

In [160]:
nom1 = input("Quel est le votre nom ?")
age1 = int(input("Quel est votre age ?"))

nom2 = input("Quel est le votre nom ?")
age2 = int(input("Quel est votre age ?"))

if age1 > 18:
    mineur1 = "majeur"
else:
    mineur1 = "mineur"

if age2 > 18:
    mineur2 = "majeur"
else:
    mineur2 = "mineur"

    
print(f"Bonjour, je m'appelle {nom1}. J'ai {age1} ans. Et je suis {mineur1}")

print(f"Bonjour {nom1}, je m'appelle {nom2}. J'ai {age2} ans. Et je suis {mineur2}")

Quel est le votre nom ?Ariane
Quel est votre age ?32
Quel est le votre nom ?Mathieur
Quel est votre age ?16
Bonjour, je m'appelle Ariane. J'ai 32 ans. Et je suis majeur
Bonjour Ariane, je m'appelle Mathieur. J'ai 16 ans. Et je suis mineur

In [161]:
nom1 = input("Quel est le votre nom ?")
age1 = int(input("Quel est votre age ?"))

nom2 = input("Quel est le votre nom ?")
age2 = int(input("Quel est votre age ?"))

mineur1 = "majeur" if age1 > 18 else "mineur"
mineur2 = "majeur" if age2 > 18 else "mineur"

    
print(f"Bonjour, je m'appelle {nom1}. J'ai {age1} ans. Et je suis {mineur1}")

print(f"Bonjour {nom1}, je m'appelle {nom2}. J'ai {age2} ans. Et je suis {mineur2}")

Quel est le votre nom ?Martin
Quel est votre age ?28
Quel est le votre nom ?Eloise
Quel est votre age ?17
Bonjour, je m'appelle Martin. J'ai 28 ans. Et je suis majeur
Bonjour Martin, je m'appelle Eloise. J'ai 17 ans. Et je suis mineur

In [162]:
liste_noms = []
liste_ages = []

continuer = "Y"

while continuer == "Y":
    liste_noms.append(input("Quel est le votre nom ?"))
    liste_ages.append(int(input("Quel est le votre age ?")))

    if len(liste_ages) == 1:
        mineur = "majeur" if liste_ages[0] > 18 else "mineur"
        print(f"Bonjour, je m'appelle {liste_noms[0]}. J'ai {liste_ages[0]} ans. Et je suis {mineur}")
    elif len(liste_ages) > 1:
        mineur = "majeur" if liste_ages[-1] > 18 else "mineur"
        print(f"Bonjour {liste_noms[-2]}, je m'appelle {liste_noms[-1]}. J'ai {liste_ages[-1]} ans. Et je suis {mineur}")
    continuer = input("ajouter une personne ? Y/N")

Quel est le votre nom ?M
Quel est le votre age ?16
Bonjour, je m'appelle M. J'ai 16 ans. Et je suis mineur
ajouter une personne ? Y/NY
Quel est le votre nom ?L
Quel est le votre age ?32
Bonjour M, je m'appelle L. J'ai 32 ans. Et je suis majeur
ajouter une personne ? Y/NY
Quel est le votre nom ?Q
Quel est le votre age ?24
Bonjour L, je m'appelle Q. J'ai 24 ans. Et je suis majeur
ajouter une personne ? Y/NN

In [164]:
continuer = True
nom_prec = None

while continuer:
    nom = input("Quel est le votre nom ?")
    age = int(input("Quel est le votre age ?"))

    if nom_prec == None:
        mineur = "majeur" if age > 18 else "mineur"
        print(f"Bonjour, je m'appelle {nom}. J'ai {age} ans. Et je suis {mineur}")
    else:
        mineur = "majeur" if age > 18 else "mineur"
        print(f"Bonjour {nom_prec}, je m'appelle {nom}. J'ai {age} ans. Et je suis {mineur}")
    continuer = input("ajouter une personne ? Y/N") == "Y"
    nom_prec = nom

Quel est le votre nom ?M
Quel est le votre age ?28
Bonjour, je m'appelle M. J'ai 28 ans. Et je suis majeur
ajouter une personne ? Y/NY
Quel est le votre nom ?A
Quel est le votre age ?16
Bonjour M, je m'appelle A. J'ai 16 ans. Et je suis mineur
ajouter une personne ? Y/NN

## Nombre mystère


1- L'ordinateur génère un nombre mystère. On doit essayer de le deviner en faisant des proposition (input("devinez le nombre")).
A ce moment, l'ordinateur va nous répondre plus petit ou plus grand. On fera une nouvelle proposition jusqu'à la victoire.
A la fin vous pouvez afficher "Victoire" !

2 - Nous avons un nombre mystère et l'ordinateur nous fait des propositions. On peut répondre trop petit (P), trop grand (G) ou égal (E).

In [172]:
from random import randint

secret = randint(0,100)
proposition = int(input("Devinez le nombre... \n"))

while proposition != secret:
    if proposition > secret:
        print("trop grand")
    elif proposition < secret:
        print("trop petit")
    proposition = int(input("Devinez le nombre... \n"))
    
print("Victoire")

Devinez le nombre...
50
trop grand
Devinez le nombre...
25
trop petit
Devinez le nombre...
302
trop grand
Devinez le nombre...
32
trop petit
Devinez le nombre...
28
trop petit
Devinez le nombre...
26
trop petit
Devinez le nombre...
36
trop petit
Devinez le nombre...
40
trop grand
Devinez le nombre...
38
Victoire

In [173]:
borne_min = 0
borne_max = 101
proposition = (borne_max + borne_min) // 2

reponse = None

while reponse != "E":
    reponse = input(f"Est-ce que c'est {proposition} ? P/G/E")
    if reponse == "P":
        # chercher proposition entre 0 et ancienne proposition
        borne_min = proposition
    elif reponse == "G":
        # chercher proposition entre ancienne proposition et 100
        borne_max = proposition
    proposition = (borne_max + borne_min) // 2

print("Victoire")

Est-ce que c'est 50 ? P/G/EG
Est-ce que c'est 25 ? P/G/EP
Est-ce que c'est 37 ? P/G/EG
Est-ce que c'est 31 ? P/G/EP
Est-ce que c'est 34 ? P/G/EG
Est-ce que c'est 32 ? P/G/EE
Victoire

In [175]:
borne_min = 0
borne_max = 100
proposition = randint(0,100)

reponse = None

while reponse != "E":
    reponse = input(f"Est-ce que c'est {proposition} ? P/G/E")
    if reponse == "P":
        # chercher proposition entre 0 et ancienne proposition
        borne_min = proposition + 1
    elif reponse == "G":
        # chercher proposition entre ancienne proposition et 100
        borne_max = proposition - 1
    proposition = randint(borne_min, borne_max)

print("Victoire")

Est-ce que c'est 18 ? P/G/EP
Est-ce que c'est 98 ? P/G/EG
Est-ce que c'est 19 ? P/G/EP
Est-ce que c'est 49 ? P/G/EP
Est-ce que c'est 74 ? P/G/EG
Est-ce que c'est 53 ? P/G/EP
Est-ce que c'est 64 ? P/G/EE
Victoire

In [178]:
ma_liste.sort()
ma_liste

[1, 2, 4, 5, 7, 8, 44]

## Tri bulle

In [181]:
ma_liste = [14, 2, 6, 5, 8, 7, 1]

for j in range(len(ma_liste) - 1):
    for i in range(len(ma_liste) - 1):
        if ma_liste[i] > ma_liste[i+1]:
            # échanger les valeurs
            tmp = ma_liste[i]
            ma_liste[i] = ma_liste[i+1]
            ma_liste[i+1] = tmp
            


print(ma_liste)

[1, 2, 5, 6, 7, 8, 14]

In [182]:
ma_liste = [14, 2, 6, 5, 8, 7, 1]

for j in range(len(ma_liste) - 1):
    for i in range(len(ma_liste) - 1):
        if ma_liste[i] > ma_liste[i+1]:
            # échanger les valeurs
            ma_liste[i], ma_liste[i + 1] = ma_liste[i + 1], ma_liste[i]
            


print(ma_liste)

[1, 2, 5, 6, 7, 8, 14]

## Exercices : Voitures

1- Créer une liste de voitures (liste_voitures) à l'aide d'input ("Quel est la marque de votre voiture ?" et "Quel est son prix ?"). 

Pour cela, utiliser une boucle "while" qui se termine quand l'utilisateur répond "N" à "Voulez-vous continuer ? Y/N"

Une voiture doit être représenté par un dictionaire {"marque": ..., "prix": ...}

2- Prix moyen

3- Prix Max

4- Prix Min

5- Trier les voitures par prix (en reprenant le principe du tri bulle qu'on vient de voir)

In [183]:
liste_voitures = []

continuer = True

while continuer:
    marque = input("Quel est la marque de la voiture ? \n")
    prix = input("Quel est la prix de la voiture ? \n")
    liste_voitures.append({"prix" : prix, "marque": marque})
    continuer = input("Voulez-vous continuer ? Y/N \n") == "Y"


liste_voitures

Quel est la marque de la voiture ?
Renault
Quel est la prix de la voiture ?
15000
Voulez-vous continuer ? Y/N
Y
Quel est la marque de la voiture ?
Peugeot
Quel est la prix de la voiture ?
20000
Voulez-vous continuer ? Y/N
Y
Quel est la marque de la voiture ?
Porsche
Quel est la prix de la voiture ?
60000
Voulez-vous continuer ? Y/N
n

[{'prix': '15000', 'marque': 'Renault'},
 {'prix': '20000', 'marque': 'Peugeot'},
 {'prix': '60000', 'marque': 'Porsche'}]

In [186]:
somme = 0
for voiture in liste_voitures:
    somme += int(voiture["prix"])
    
moyenne = somme / len(liste_voitures)
print(moyenne)

31666.666666666668

In [189]:
import numpy as np

help(np)

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

Current values:
NotebookApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
NotebookApp.rate_limit_window=3.0 (secs)

In [191]:
liste_voitures[0]["prix"]

'15000'

In [192]:
[v["prix"] for v in liste_voitures]

['15000', '20000', '60000']

In [193]:
liste_voitures

[{'prix': '15000', 'marque': 'Renault'},
 {'prix': '20000', 'marque': 'Peugeot'},
 {'prix': '60000', 'marque': 'Porsche'}]

In [194]:
import pandas as pd

dataframe = pd.DataFrame(liste_voitures)
dataframe

C:\Users\miguel\Anaconda3\lib\importlib\_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)

    prix   marque
0  15000  Renault
1  20000  Peugeot
2  60000  Porsche

In [196]:
dataframe["prix * 2"] = dataframe["prix"].astype(int) * 2

In [197]:
dataframe

    prix   marque  prix * 2
0  15000  Renault     30000
1  20000  Peugeot     40000
2  60000  Porsche    120000